.dropCard{
  height: 50px;
  width: 50px;

  background-color: #a9abab;
  position: absolute;

  svg {
    height: 100%;
    width: 100%;
  }

}

//.dropCard1{
//  position: absolute;
//  top: 5%;
//  left: 8.8%;
//}
//
//.dropCard2{
//  position: absolute;
//  top: 13%;
//  left: 8.8%;
//}